<!-- Navbar Start -->
<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
    <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <form class="d-none d-md-flex ms-4">
        <input class="form-control bg-dark border-0" type="search" placeholder="Search">
    </form>

    <!-- Player starts -->
    <div class="audio-container">
        <div class="album-art" id="album-art"></div>
        <audio controls autoplay id="audio-tag">
            <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9473/new_year_dubstep_minimix.ogg"
                    type="audio/ogg"
                    id="audio-source">
            Your browser does not Support the audio Tag
        </audio>
        <div hidden="" class="nav-item dropdown song-info-button">

            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <span class="d-none d-lg-inline-flex"></span>
            </a>
            <div class=" song-info dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                <a href="#" class="dropdown-item">
                    <div class="d-flex align-items-center info-panel">

                        <img class="rounded-circle" src="/img/user.jpg" alt=""
                             style="width: 40px; height: 40px;">
                        <div class="ms-2">
                            <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                            <small>15 minutes ago</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <!-- Player ends -->

    <div class="navbar-nav align-items-center ms-auto" id="top-right-nav-bar">

    </div>
</nav>
<!-- Navbar End -->
